body, html {
  margin-left:15%;
  margin-right:15%;
  margin-bottom:1%;
  margin-top:1%;

  font:"Arial, Helvetica, sans-serif";
}

footer {
    padding-top: 3cm;
    text-align: right;
}

div.name {
  font-size: 20;
}
